/* responsive.css */

/* Estilos para pantallas de hasta 768px (tablets y móviles) */
@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  .description p {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .gallery {
    gap: 1rem;
    padding: 0.5rem;
  }

  .gallery img {
    width: 200px;
  }

  .detail-container {
    flex-direction: column;
    padding: 1rem;
  }

  .detail-image img,
  .detail-info {
    max-width: 100%;
  }

  #back-btn {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
  }

  #game-btn {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }

  .animated-orchid-1,
  .animated-orchid-2 {
    width: 120px; /* Más pequeñas en móviles */
  }

  /* Ajustes para el juego */
  #game-board {
    width: 300px;
    height: 300px;
  }

  #score, #lives {
    font-size: 1.2rem;
  }

  #game-over-text h1 {
    font-size: 3rem;
  }

  #play-again-btn {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }

  #back-arrow {
    font-size: 2rem;
    top: 10px;
    left: 10px;
  }
}

/* Estilos para pantallas de hasta 480px (móviles pequeños) */
@media (max-width: 480px) {
  header h1 {
    font-size: 1.5rem;
  }

  .description p {
    font-size: 0.9rem;
  }

  .gallery img {
    width: 150px;
  }

  #game-btn {
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
  }

  .animated-orchid-1,
  .animated-orchid-2 {
    width: 80px; /* Aún más pequeñas en pantallas muy pequeñas */
  }

  /* Ajustes para el juego */
  #game-board {
    width: 250px;
    height: 250px;
  }

  #score, #lives {
    font-size: 1rem;
  }

  #game-over-text h1 {
    font-size: 2.5rem;
  }

  #play-again-btn {
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
  }

  #back-arrow {
    font-size: 1.5rem;
    top: 5px;
    left: 5px;
  }
}
